SELECT 
       reinovalido, 
       phylumdivisionvalido,
       clasevalida,
       ordenvalido,
       familiavalida,
       generovalido, 
       especieepiteto,
       nombreinfra,
       type::varchar,
       layer,
       bid::varchar,
       icat::varchar,
       tag,
       cells, 
       nj,
       1 as tipo 
FROM 