SELECT 
       '{name}' as group_name,
       reinovalido, 
       phylumdivisionvalido,
       clasevalida,
       ordenvalido,
       familiavalida,
       generovalido, 
       especieepiteto,
       nombreinfra,
       type::varchar,
       label,
       layer,
       bid::varchar,
       icat::varchar,
       unidad::varchar,
       coeficiente::varchar,
       tag,
       cells, 
       nj,
       1 as tipo,
       description 
FROM 