SELECT 
       reinovalido, 
       phylumdivisionvalido,
       clasevalida,
       ordenvalido,
       familiavalida,
       generovalido, 
       especieepiteto,
       nombreinfra,
       type::varchar,
       label,
       layer,
       bid::varchar,
       icat::varchar,
       tag,
       cells, 
       unidad,
       coeficiente,
       nj,
       1 as tipo 
FROM 