SELECT 
       reinovalido, 
	phylumdivisionvalido,
	clasevalida,
	ordenvalido,
       familiavalida,
       generovalido, 
       especieepiteto,
       nombreinfra,
	type::varchar,
	label,
       layer,
       bid::varchar, 
       icat::varchar,
       unidad::varchar,
       coeficiente::varchar,
       tag,
       cells, 
       nj, 
       0 as tipo 
FROM 