SELECT reinovalido, 
	phylumdivisionvalido,
	clasevalida,
	ordenvalido,
       familiavalida,
       generovalido, 
       especieepiteto,
       nombreinfra,
	type,
	layer,
       bid, 
       icat,
       tag,
       cells, 
       nj, 
       0 as tipo 
FROM 