SELECT DISTINCT 
 	-- UNNEST(cells_16km & b.cells) AS gridid,
	UNNEST(cells_{res:raw}km & b.cells) AS gridid,
	label as generovalido, tag as especieepiteto, coeficiente, unidad, 'abio' as tipo
-- FROM raster_bins AS a, grid_geojson_16km_aoi AS b
FROM raster_bins AS a, grid_geojson_{grid_res:raw}km_aoi AS b
 WHERE 	(
 			{nodes_abio:raw}
 			-- (bid = '300818') or 
 			-- (bid = '300817')
 		)
 	-- AND b.footprint_region=1
   	AND b.footprint_region={region:raw}