WITH aux AS (
	SELECT DISTINCT 
		{fields:raw},
		UNNEST({res_cells:raw} & b.cells) AS cell
	FROM raster_bins AS a, {res_views:raw} AS b
	{where_filter:raw}
)
SELECT 
	array_agg(distinct a.cell) AS cells,
	{fields:raw}
FROM (
		SELECT cell,
				{fields:raw}
		FROM aux 
	) AS a
GROUP BY {group_fields:raw}